html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
font-family: 'Open Sans Condensed', sans-serif;
}
.container{
background-color: #f6f6f6;;
}
header .row{
padding: 10px 83px;
}
nav ul{
line-height: 116px;
float: right;
}
nav li{
display: inline-block;
line-height: 1em;
padding-left: 45px;
}
nav li a{
display: block;
padding: 10px 7px;
color: #000;
text-transform: uppercase;
transition: .5s;
border: none;
font-size: 12px;
font-weight: bold;;
}
nav li a:hover{
background-color: #ffea00;
border: none;
}
.top__img{
background-image: url(img/slider_bg.jpg);
background-size: cover;
top: 0;
left: 0;
padding: 28px 85px;

}
.top__img h1{
color: #ffea00;
text-transform: uppercase;
font-size: 26px;
font-weight: bold;;
}
.project{
    background-color: #424146;
    display: inline-block;
    width: 228px;
    padding: 15px;
}
.slider{
height: 565px;
background: linear-gradient(to bottom,  #424147 80%, black 20%);
}
.slider img{
display: block;
height: 515px;
margin: 0 auto;
}
.main .container{
background-color: #f6f6f6;
padding: 0;
padding-top: 50px;
}
.news{
padding: 25px;
line-height: 1.4em;
font-size: 14px;
color: #424147;
}
.news h3{
text-transform: uppercase;
font-size: 16px;
color:#ffea00;
padding: 5px 15px;
display: inline-block;
background-color: #424147;
margin-bottom: 10px;
}
.column{
background-color: #424147;
color: white;
text-transform: uppercase;
font-size: 15px;
padding: 25px;
}
.column__one li{
padding-bottom: 15px;
padding-left: 30px;
background: url(img/arrow.png) no-repeat 0 0px;
transition: .5s;
}
.column__two li{
padding-bottom: 10px;

}
.column__two img{
float: left;
padding-right: 10px;
}
.column__two li{
position: relative;
}
a{
color: white;
}
.column__two .data{
position: absolute;
bottom: 10px;
right: 0;
font-size: 10px;
font-weight: bold;
}
.data a{
color: #ffea00;
}
.column__one,
.column__two{
margin-bottom: 15px;
}
.column h3{
color: #ffea00;
font-weight: bold;
font-size: 16px;
padding-bottom: 25px;
}
.tags a{
margin-top: 3px;
font-weight: bold;
display: inline-block;
padding: 5px 2.5px;
background-color:  #ffea00;
Color: #424147;
}
.img__recent img{
width: 33%;
transition: .5s;
}
.recent{
padding-top: 22px;
border-top: 1px solid #dcdcdc;
margin-top: 10px;
}
.img__recent img:hover{
opacity: .5;
}
.contact .container{
background-color: #414146;
padding: 20px;
font-size: 14px;
}
i{
padding: 5px;
width: 25px;
background-color: black;
color: white;
font-size: 16px;
margin: 5px;
}
.contact h4{
color: white;
padding-bottom: 20px;
font-size: 16;
font-weight: bold;
}
.contact{
color: white;
}
.button{
display: inline-block;
padding: 8px 15px;
background-color: black;
border-bottom: 2px solid #ffea00;
margin-top: 20px;
margin-bottom: 20px;
}
.gallery li{
display: inline-block;
}
.gallery img{
width: 115px;
height: 70px;
transition: .5s;
}
.gallery img:hover{
opacity: .5;
}
.tweets li{
position: relative;
padding-left: 30px;
padding-bottom: 20px;
background: url(img/tweets.png) no-repeat 0 0px;
}
.days{
display: inline-block;
position: absolute;
bottom: 8px;
left: 30px;
font-size: 10px;
font-weight: bold;
Color: #ffea00;
}
.tweers__tag{
color:  #ffea00;
}
.con__ad{
padding-bottom: 30px;
}
form{
padding-top: 30px;
position: relative;
display: inline-block;
}
input[type="text"]{
background-color: #414146;
border: none;
border-bottom: 2px solid #ffea00;
}
input[type="button"]{
background-color: black;
color: white;
border: none;
width: 30px;
height: 27px;
background-image: url(img/email-icon.png);
position: absolute;
bottom: 0;
right: -35px;
}
footer .container{
background-color: black;
border-top: 1px solid #dcdcdc;
Color: white;
padding: 20px;
}
footer .container a{
color: white;
}
footer .container nav ul{
line-height: 1em;
}
footer .container p{
line-height: 40px;
font-size: 14px;
}
