html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}
header{
    color: #171717;
    text-align: center;
    padding: 50px;
    margin-bottom: 15px;
}
header h1{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 30px;
}
.block{
    border: 1px dotted #1ccacd;
    overflow: hidden;
    position: relative;
    min-height: 200px;
    margin-top: 15px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    
}
.v{
    background-color: #171717;
    color: #f6f6f6;
    padding: 5px 10px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
header p{
    font-size: 20px;
    line-height: 1.25em;
}
.material-icons{
    font-size: 48px;
}
.grid-item img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.grid-sizer,
.grid-item {
  width: 25%;
}


.grid-item {
  height: 150px;
  float: left;
}

.grid-item--width2
{ width:  50%; }
.grid-item--width3 { width:  75%; }

.grid-item--height2,
.grid-item--height2 img{ height: 150px; }
.grid-item--height3,
.grid-item--height3 img{ height: 300px; }
.grid-item--height4,
.grid-item--height4 img{ height: 400px; }

footer{
    background-color: #222222;
    color: #d3d3d3;
    padding: 30px;
    margin-top: 35px;
    text-align: center;
}
footer a{
    font-size: 20px;
     color: #d3d3d3;
    display: inline-block;
    margin: 0 15px;
}
.copy{
    margin-top: 10px;
}


@media (max-width: 990px){
    .grid-sizer,
.grid-item {
  width: 50%;
}


.grid-item {
  height: 60px;
  float: left;
}

.grid-item--width2
{ width:  50%; }
.grid-item--width3 { width:  100%; }

.grid-item--height2,
.grid-item--height2 img{ height: 150px; }
.grid-item--height3,
.grid-item--height3 img{ height: 250px; }
.grid-item--height4,
.grid-item--height4 img{ height: 300px; }
}


@media (max-width: 500px){
    .grid-sizer,
.grid-item {
  width: 100%;
}


.grid-item {
  height: 60px;
  float: left;
}

.grid-item--width2
{ width:  100%; }
.grid-item--width3 { width:  100%; }

.grid-item--height2,
.grid-item--height2 img{ height: 150px; }
.grid-item--height3,
.grid-item--height3 img{ height: 150px; }
.grid-item--height4,
.grid-item--height4 img{ height: 300px; }
}