html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    font-family: 'Open Sans', sans-serif;
}
.billboard{
    background-image: url(%D1%81%D0%B5%D0%BA%D1%86%D0%B8%D1%8F1.jpg);
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh
}
.head{
    background-color: linear-gradient(to right #FFFEF5);
    border-radius: 5px;
}
header{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
   
}

nav{
    width: 100%;
}
ul{
    width: 50%;
    margin: 0 auto;
}
nav li{
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
}
nav li a{
    display: block;
    color: white;
}
nav li a:hover{
    color: grey;
}
.billboard h2{
    margin-top: 10%;
}
h2{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 2%;
}
p{
    color: white;
    font-size: 14px;
    padding-top: 5em;
    text-align: center;
}
.porf{
    background-image: url(%D1%81%D0%B5%D0%BA%D1%86%D0%B8%D1%8F2.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.porf h2{
    float: right;
    margin-bottom: 10px;
}
.porf p{
    margin: 0;
    padding: 5px;
}
.block{
    background-color: rgba(255,255,255, .3);
    padding: 5px;
    border-radius: 5px
}
.porf img{
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 40vh
}
